<div class="schedule-container">
  <ejs-schedule
    #scheduleObj
    width="100%"
    height="90vh"
    [eventSettings]="eventSettings"
    [allowResizing]="false"
    [allowDragAndDrop]="false"
    [views]="scheduleViews"
    [currentView]="currentViewSubject | async"
    [firstDayOfWeek]="startWeek"
    [readonly]="true"
    (currentViewChange)="currentViewSubject.next($event)"
    (popupOpen)="onPopupOpen($event)"
    (actionComplete)="onActionComplete()"
    (eventClick)="onClick()"
    (navigating)="getFirstAndLastVisibleDay($event, 'navigation')"
    (created)="getFirstAndLastVisibleDay($event, 'created')"
  >
    <e-views>
      <e-view option="Month" [numberOfWeeks]="5"></e-view>
      <e-view
        option="Week"
        [timeScale]="timeScaleOptions"
        [contentEditable]="false"
      ></e-view>
    </e-views>

    <ng-template #dateHeaderTemplate let-data>
      <div class="week-day">{{ data.date | date: 'EEEE' | titlecase }}</div>
      <div class="day-date">{{ data.date | date: 'dd' }}</div>
    </ng-template>

    <ng-template #eventSettingsTemplate let-data>
      <ng-container *ngIf="(currentViewSubject | async) === 'Month'">
        <div class="event-month-container">
          <p
            class="event-month-container__schedule-indicator"
            [ngStyle]="{
              background: getBackBackgroundColorByCategoryId(
                data['TimeRemaining']
              )
            }"
          >
            &nbsp;
            <span
              [ngStyle]="{ 'max-width': showSidebar ? '60%' : '100%' }"
              class="event-month-container__schedule-content"
            >
              {{ data['Subject'] }}
            </span>
          </p>
        </div>
      </ng-container>

      <ng-container *ngIf="(currentViewSubject | async) === 'Week'">
        <div
          class="week-view-container"
          (dblclick)="openReadPageOfCurrentItem(data)"
          [ngStyle]="{
            'background-color': getBackBackgroundColorByCategoryId(
              data['TimeRemaining']
            ),
            'max-width': '100%',
            color: colorSubject | async
          }"
        >
          <p class="week-cell-category">
            <i [ngClass]="getIconByCategoryId(data['CategoryId'])"></i>
            <span class="request-type-label">{{
              data['RequestTypeLabel']
            }}</span>
          </p>
          <span class="week-cell-description">
            {{ data['Subject'] }}
          </span>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #quickInfoTemplatesHeader let-data>
      <div class="quick-info-header">
        <div
          class="quick-info-header-content"
          [ngStyle]="{
            background: getBackBackgroundColorByCategoryId(
              data['TimeRemaining']
            ),
            color: color$ | async
          }"
        >
          <div class="quick-info-title">
            <i [ngClass]="getIconByCategoryId(data['CategoryId'])"></i>
            {{ data['RequestTypeLabel'] }}

            <div
              class="quick-info-title__icon"
              (click)="scheduleObj.closeQuickInfoPopup()"
            >
              <i class="far fa-times"></i>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #quickInfoTemplatesContent let-data>
      <ng-container *ngIf="data">
        <app-time-remaining
          class="remaining-time-component"
          [data]="data['TimeRemaining']"
        ></app-time-remaining>
        <ng-container
          *ngTemplateOutlet="calendarTemplate; context: { $implicit: data }"
        ></ng-container>
      </ng-container>
    </ng-template>
  </ejs-schedule>
</div>
