@import 'pxtorem';

.schedule-container {
  .text-with-overflow {
    text-overflow: ellipsis;
    position: absolute;
    overflow: hidden;
  }

  .week-day {
    font: normal normal normal 13px/16px Montserrat;
  }

  .day-date {
    font: normal normal 600 15px/19px Montserrat;
  }

  .e-active-view {
    button {
      background: var(--grid-toolbar-btn-text-color);

      span {
        color: white;
        font-size: rem(13);
      }
    }
  }

  .modal-container {
    display: flex;
    margin-bottom: rem(8);

    &__title {
      color: black;
      font-weight: 500;
      padding: rem(3) 0 rem(3) 0;
    }

    &__content {
      white-space: pre;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: rem(250);
      padding: rem(3) 0 rem(3) rem(15);
    }
  }

  .redirection-button {
    float: right;
    margin-top: rem(10);
    margin-bottom: rem(26);
  }

  .e-popup-footer {
    display: none;
  }

  .event-month-container {
    display: flex;
    align-items: center;
    text-overflow: unset;
    white-space: pre;
    max-width: 100%;

    &__schedule-content {
      padding-left: rem(15);
      color: black;
      background: transparent;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
      font-size: rem(10);
      font-weight: 500;
    }

    &__schedule-indicator {
      width: rem(12);
      min-width: rem(12);
      border-radius: rem(25);
      height: rem(12);
      left: rem(5);
    }
  }

  .e-quick-popup-wrapper .e-event-popup .e-popup-content {
    padding: rem(8) rem(26) rem(26) rem(26);
  }

  .e-more-popup-wrapper .e-appointment {
    background: transparent;
    border: none;
  }

  .e-schedule .e-month-view .e-appointment {
    background: transparent;
    border: none;
    padding-left: rem(10);
  }

  .e-appointment-details {
    background: transparent;
    padding: rem(0);
  }

  .e-more-popup-wrapper .e-more-event-popup {
    height: 100%;
    position: relative;
    width: 100%;
    max-height: rem(600);
  }

  .quick-info-title {
    display: flex;
    font-size: rem(14);
    padding-top: rem(15);
    padding-bottom: rem(15);
    padding-left: rem(25);
    align-items: center;
    gap: rem(15);
    font-weight: 600;

    &__icon {
      margin-left: auto;
      padding-right: rem(20);
      cursor: pointer;
    }
  }

  .e-quick-popup-wrapper {
    box-shadow:
      0 0 10px 0 rgb(0 0 0 / 14%),
      0 6px 31px 0 rgb(0 0 0 / 12%),
      0 0 7px -7px rgb(0 0 0 / 20%);
    height: auto;
  }

  .remaining-time-component {
    display: inline-block;
    font-size: rem(10);
    max-width: rem(180);
    margin-bottom: rem(2);
    margin-top: rem(9);
  }

  .timer {
    padding: rem(7) rem(15) rem(7) rem(0);
  }

  .e-icon-down-arrow.e-icons.e-icon-right {
    display: none;
  }

  .e-toolbar .e-tbar-btn .e-tbar-btn-text,
  .e-tbar-btn-text {
    font: normal normal normal 13px/16px Montserrat;
    text-transform: capitalize;
    min-width: rem(57);
    display: list-item;
  }

  .e-toolbar-left .e-toolbar-item {
    padding: 0;
    min-width: rem(20);

    .e-tbar-btn-text,
    .e-tbar-btn .e-btn-icon {
      font-size: rem(11);
    }
  }

  .e-schedule-toolbar .e-today,
  .e-schedule-seperator.e-separator {
    display: none;
  }

  .week-view-container {
    border: none;
    width: 100%;
    position: relative;
    padding: rem(15) rem(0) rem(0) rem(12);
    margin-left: rem(5);
    margin-top: rem(3);

    .week-cell-category {
      overflow: hidden;
      max-width: 85%;
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;

      .request-type-label {
        padding-left: rem(5);
      }

      i {
        padding-right: rem(5);
      }
    }

    .request-type-label {
      padding-left: rem(5);
    }

    .week-cell-description {
      @extend .text-with-overflow;
      font-size: rem(10);
      top: rem(35);
      height: rem(25);
      margin: rem(0);
      line-break: anywhere;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-line;
      max-width: 85%;
    }

    p {
      @extend .text-with-overflow;
      margin: rem(0);
      white-space: nowrap;
      width: inherit;
    }
  }

  .e-schedule .e-vertical-view.e-timescale-disable .e-appointment {
    box-shadow: unset;
    border: none;
    background: transparent;
    color: #fff;
    display: flex;
    height: rem(80);
    margin-bottom: rem(5);
    overflow: hidden;
    position: initial;
    border-radius: 0;
  }

  .e-popup.e-popup-open {
    width: rem(400);
    height: rem(400);
  }

  .e-more-popup-wrapper {
    .e-appointment {
      height: rem(35);
      line-height: rem(30);
    }

    .e-more-event-content {
      max-height: rem(400);
    }
  }

  .e-more-appointment-wrapper {
    .week-view-container {
      padding: rem(0);
      margin: 0;

      .week-cell-category {
        padding-left: rem(5);
      }

      .week-cell-description {
        display: none;
      }
    }
  }

  .e-more-indicator {
    font-size: rem(13);
  }

  .e-schedule .e-vertical-view.e-timescale-disable .e-appointment-wrapper {
    position: static;
  }

  .e-schedule,
  .e-vertical-view.e-timescale-disable,
  .e-appointment,
  .e-appointment-details {
    padding: rem(0);
  }
}
